{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}



<!-- version 2 -->
<section class="product-details py-80">
    <div class="container container-lg">
        <div class="row gy-4">
            <div class="col-lg-12">
                <div class="row gy-4">
                    <div class="col-xl-6">
                        <div class="product-details__left">
                            <div class="product-details__thumb-slider border border-gray-100 rounded-16" style="padding: clamp(0.5rem, 0.25rem + 2vw, 1.5rem) !important;">
                                {% for image in post.images.all %}
                                <div>
                                    <div class="product-details__thumb flex-center h-100">
                                        <img src="https:/{{ image.image }}" alt="{{ post.title }}">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="mt-24">
                                <div class="product-details__images-slider">
                                    {% for image in post.images.all %}
                                    <div>
                                        <div class="max-w-120 max-h-120 h-100 flex-center border border-gray-100 rounded-16 p-8">
                                            <img src="https:/{{ image.image }}" alt="{{ post.title }}">
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="product-details__content">
                            <h5 class="mb-12">{{ post.title }}</h5>
                            
                            {% if post.traceability %}
                            
                            <a href="#" class="btn bg-color-one rounded-16 flex-align gap-8 text-main-600 hover-bg-main-600 hover-text-white" style="pointer-events: none; display: flex; align-items: center;">
                                <span class="text-main-600">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
                                    </svg>
                                </span>
                                <span style="font-size: 1.1rem; margin-top: 0.2rem;">
                                    <strong>Ganado con Trazabilidad</strong>
                                </span>
                            </a>
                            
                            {% endif %}

                            <div class="flex-align gap-4">
                                <span class="text-main-600 text-md d-flex"><i class="ph-fill ph-storefront"></i></span>
                                <span class="text-gray-500 text-xs">Por {{ post.user.get_full_name }}</span>
                            </div>
                            <div class="flex-align gap-4">
                                <span class="text-main-600 text-md d-flex"><i class="ph-fill ph-map-pin-line"></i></span>
                                <span class="text-gray-500 text-xs"> {{ post.location }}</span>
                            </div>
                                                        
                            <!-- nav tab  -->
                            <div class="">
                                <div class="product-dContent rounded-24">
                                    <div class="product-dContent__header border-bottom border-gray-100 flex-between flex-wrap gap-16">
                                        <ul class="nav common-tab nav-pills mb-3" id="pills-tab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                              <button class="nav-link active" id="pills-description-tab" data-bs-toggle="pill" data-bs-target="#pills-description" type="button" role="tab" aria-controls="pills-description" aria-selected="true">Descripción</button>
                                            </li>
                                            {% if post.traceability %}
                                            <li class="nav-item" role="presentation">
                                              <button class="nav-link" id="pills-reviews-tab" data-bs-toggle="pill" data-bs-target="#pills-reviews" type="button" role="tab" aria-controls="pills-reviews" aria-selected="false">Trazabilidad</button>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="product-dContent__box">
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab" tabindex="0">
                                                <div class="mb-40">
                                                    <!-- Datos de publicacion -->
                                                    <ul>
                                                        <li class="text-gray-400 mb-14 flex-align gap-14">
                                                            <span class="w-20 h-20 bg-main-50 text-main-600 text-xs flex-center rounded-circle">
                                                                <i class="ph ph-check"></i>
                                                            </span>
                                                            <span class="text-heading fw-medium">
                                                                Raza:
                                                                <span class="text-gray-500"> {{ post.breed }}</span>
                                                            </span>
                                                        </li>
                                                    
                                                        <li class="text-gray-400 mb-14 flex-align gap-14">
                                                            <span class="w-20 h-20 bg-main-50 text-main-600 text-xs flex-center rounded-circle">
                                                                <i class="ph ph-check"></i>
                                                            </span>
                                                            <span class="text-heading fw-medium">
                                                                Peso:
                                                                <span class="text-gray-500"> {{ post.weight }} kg</span>
                                                            </span>
                                                        </li>
                                                    </ul>
                        
                                                    <span class="text-gray-700">
                                                        {{ post.description }}
                                                    </span>
                        
                                                    <div class="mt-32 flex-align flex-wrap gap-32">
                                                        <div class="flex-align gap-8">
                                                            <h4 class="mb-0">${{ post.starting_price }}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if post.traceability %}
                                            <div class="tab-pane fade" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab" tabindex="0">
                                                <div class="row g-4">
                                                    <div class="col-lg-6">
                                                        <!-- Datos de trazabilidad -->
                                                        <h6 class="fw-bold text-gray-900">Información de Trazabilidad</h6>
                                                        <ul class="text-gray-700">
                                                            <li>Número de identificación: 12345</li> <!-- Ejemplo de datos específicos de trazabilidad -->
                                                            <li>Fecha de nacimiento: 15/03/2021</li>
                                                            <li>Última vacuna: 20/05/2023</li>
                                                        </ul>
                                                    </div>
                                                </div>  
                                            </div>
                                            {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                            <span class="pt-32 text-gray-700 border-top border-gray-100 d-block"></span>

                            <a href="#" class="btn btn-main flex-center gap-8 rounded-8 py-16">
                                <i class="ph ph-chat text-lg"></i>
                                Contactar por chat
                            </a>
                            <a href="https://api.whatsapp.com/send/?phone=505{{ post.user.phone_number }}&text=Estoy+interesado+en+tu+anuncio+en+Encuentra24%3A+https%3A%2F%2Fwww.encuentra24.com%2Fnicaragua-en%2Fcars-auto-trucks-used-car%2Fmercedes-benz-gle-400-2017%2F28953341%0A%0A&type=phone_number&app_absent=0" target="_blank" class="btn btn-outline-main flex-center gap-8 rounded-8 py-16 mt-5">
                                <i class="ph ph-whatsapp-logo text-lg"></i>
                                Pide más información: {{ post.user.phone_number }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- ========================== Similar Product Start ============================= -->
<!-- <section class="new-arrival pb-80">
    <div class="container container-lg">
        <div class="section-heading">
            <div class="flex-between flex-wrap gap-8">
                <h5 class="mb-0">You Might Also Like</h5>
                <div class="flex-align gap-16">
                    <a href="shop.html" class="text-sm fw-medium text-gray-700 hover-text-main-600 hover-text-decoration-underline">All Products</a>
                    <div class="flex-align gap-8">
                        <button type="button" id="new-arrival-prev" class="slick-prev slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1" >
                            <i class="ph ph-caret-left"></i>
                        </button>
                        <button type="button" id="new-arrival-next" class="slick-next slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1" >
                            <i class="ph ph-caret-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="new-arrival__slider arrow-style-two">
            {% for post in posts %}
            <div class="col-xxl-2 col-lg-3 col-sm-4 col-6" data-aos="fade-up" data-aos-duration="200">
                <div class="product-card h-100 p-8 border border-gray-100 hover-border-main-600 rounded-16 position-relative transition-2">
                    <a href="{% url 'post_detail' post.id %}" class="product-card__thumb flex-center">
                        <img src="https://www.tn8.tv/wp-content/uploads/2021/04/ganaderia-nicaragua-05.jpg" alt="Ganado en Venta">
                    </a>
                    <div class="product-card__content p-sm-2 w-100">
                        <h6 class="title text-lg fw-semibold mt-12 mb-8">
                            <a href="{% url 'post_detail' post.id %}" class="link text-line-2">{{ post.title }} - {{ post.weight }}</a>
                        </h6>
                        <div class="flex-align gap-4">
                            <span class="text-main-600 text-md d-flex"><i class="ph-fill ph-storefront"></i></span>
                            <span class="text-gray-500 text-xs">Por {{ post.user.get_full_name }}</span>

                        </div>
                        <div class="flex-align gap-4">
                            <span class="text-main-600 text-md d-flex"><i class="ph-fill ph-map-pin-line"></i></span>
                            <span class="text-gray-500 text-xs"> {{ post.location }}</span>
                        </div>

                        <div class="product-card__content mt-12">
                            <div class="product-card__price mb-8">
                                <span class="text-heading text-md fw-semibold ">${{ post.starting_price }}  </span>
                            </div>

                            <a href="{% url 'post_detail' post.id %}" class="product-card__cart btn bg-main-50 text-main-600 hover-bg-main-600 hover-text-white py-11 px-24 rounded-pill flex-align gap-8 mt-24 w-100 justify-content-center">
                                Ver publicación <i class="ph ph-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
 </section> -->
<!-- ========================== Similar Product End ============================= -->
    
    <!-- ========================== Shipping Section Start ============================ -->
    <section class="shipping mb-24" id="shipping">
        <div class="container container-lg">
            <div class="row gy-4">
                <div class="col-xxl-3 col-sm-6" data-aos="zoom-in" data-aos-duration="400">
                    <div class="shipping-item flex-align gap-16 rounded-16 bg-main-50 hover-bg-main-100 transition-2">
                        <span class="w-56 h-56 flex-center rounded-circle bg-main-600 text-white text-32 flex-shrink-0"><i class="ph-fill ph-thumbs-up"></i></span>
                        <div class="">
                            <h6 class="mb-0">Calidad Garantizada</h6>
                            <span class="text-sm text-heading">Solo el mejor ganado para nuestros clientes</span>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-sm-6" data-aos="zoom-in" data-aos-duration="600">
                    <div class="shipping-item flex-align gap-16 rounded-16 bg-main-50 hover-bg-main-100 transition-2">
                        <span class="w-56 h-56 flex-center rounded-circle bg-main-600 text-white text-32 flex-shrink-0"><i class="ph-fill ph-handshake"></i></span>
                        <div class="">
                            <h6 class="mb-0">Confianza y Seguridad</h6>
                            <span class="text-sm text-heading">Conexiones directas entre compradores y vendedores</span>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-sm-6" data-aos="zoom-in" data-aos-duration="800">
                    <div class="shipping-item flex-align gap-16 rounded-16 bg-main-50 hover-bg-main-100 transition-2">
                        <span class="w-56 h-56 flex-center rounded-circle bg-main-600 text-white text-32 flex-shrink-0"><i class="ph-fill ph-seal-check"></i></span>
                        <div class="">
                            <h6 class="mb-0">Lotes Certificados</h6>
                            <span class="text-sm text-heading">Seleccionados por su salud y genética</span>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-sm-6" data-aos="zoom-in" data-aos-duration="1000">
                    <div class="shipping-item flex-align gap-16 rounded-16 bg-main-50 hover-bg-main-100 transition-2">
                        <span class="w-56 h-56 flex-center rounded-circle bg-main-600 text-white text-32 flex-shrink-0"><i class="ph-fill ph-headset"></i></span>
                        <div class="">
                            <h6 class="mb-0">Soporte 24/7</h6>
                            <span class="text-sm text-heading">Atención continua para tus necesidades</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- ========================== Shipping Section End ============================ -->

{% endblock content %}
    